@charset "utf-8";
/* CSS Document */

body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.section-1 {
  width: 100%;
  position: relative;
}
.banner {
  width: 100%;
}
.header-outer {
  width: 100%;
  background: url(../images/header-outer-bg.png) repeat;
  position: absolute;
  top: 0;
}

.header-top-outer {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #3d4047;
}
.header-top {
  width: 1176px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.header-left {
  width: 979px;
  float: left;
  border-right: 1px solid #3d4047;
  margin: 0;
  padding: 0 0 4px 0;
}
.left-item {
  float: left;
  overflow: hidden;
  margin: 9px 0 0 0;
  padding: 0;
  width: 700px;
  list-style: none;
}
.left-item li {
  float: left;
  padding: 0 24px;
}
.style-1 {
  background: url(../images/phone-no-bg.png) no-repeat left top;
}
.style-2 {
  background: url(../images/message-bg.png) no-repeat left top;
}
.style-3 {
  background: url(../images/time-bg.png) no-repeat left top;
}
.left-item li a {
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
}
.left-item li a:hover {
  text-decoration: underline;
}
.left-item li p {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.right-item {
  float: left;
  overflow: hidden;
  list-style: none;
  margin: 9px 0 0 0;
  padding: 0;
}
.right-item li {
  float: left;
  padding: 0 17px;
  margin: 0;
}
.header-right {
  float: left;
  width: 166px;
  margin: 9px 0 0px 27px;
}
.header-right a {
  margin: 0;
  padding: 0;
}
.One-logo{
  width: 201px;
  height: 49px;
}
.header {
  width: 1176px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.logo {
  float: left;
  margin: 18px 0 13px 20px;
  width: 410px;
}
.logo img{
  width: 300px;
  height: 49px;
}
.menu {
  float: left;
  list-style: none;
  margin: 30px 0 0 0;
  overflow: hidden;
  padding: 0;
}
.menu li {
  float: left;
  padding: 0 20px;
  margin: 0px 0 0 0;
}
.menu li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding: 0 5px 0 5px;
}
.menu li a:hover {
  color: #007bff;
}
.banner-area {
  width: 1177px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  z-index: 1;
}
.banner-left {
  width: 600px;
  float: left;
  margin: 0;
  padding: 0;
}
.banner-left h2 {
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 130px 0 0 0;
  padding: 0;
  font-family: "Teko", sans-serif;
  font-weight: 400;
}
.banner-left p {
  color: #ffffff;
  font-size: 25px;
  margin: 0px 0 0 0px;
  padding: 0;
  width: 540px;
  text-align: start;
}

.form-panel {
  width: 455px;
  margin: 0;
  padding: 40px 0 55px 40px;
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(97, 97, 97, 0.43);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  float: left;
}
.form-panel h1 {
  font-size: 60px;
  color: #f8f8f8;
  margin: 0px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 0 0 0;
  width: 426px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 50px;
}
.form-panel p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #c0c0c0;
  text-align: center;
  width: 426px;
}

.form-panel input {
  margin: 19px 0 0 0px;
  padding: 0 0px 0 25px;
  line-height: 50px;
  font-size: 16px;
  width: 401px;
  color: #6a6a6a;
  border-radius: 5px;
  border: none;
}
.form-panel .style-4 {
  background: #f2f2f2 url("../images/search-bg.png") no-repeat right 15px;
}
.form-panel .style-5 {
  background: #f2f2f2 url("../images/destination-bg.png") no-repeat right 13px;
}
.form-panel .style-6 {
  background: #f2f2f2 url("../images/tour-bg.png") no-repeat right 13px;
}
.form-panel .style-7 {
  background: #f2f2f2 url("../images/month-bg.png") no-repeat right 15px;
}
.form-panel .style-8 {
  margin: 20px 0 0px 0px;
  padding: 0 0px 0 0px;
  font-size: 20px;
  width: 426px;
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #ffffff;
  cursor: pointer;
}
.form-panel .style-8:hover {
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(14, 12, 29, 0.61);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.banner-bottom-outer {
  width: 100%;
  background: url(../images/banner-bottom-bg.png) repeat;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.banner-bottom {
  width: 1147px;
  margin: 0 auto;
  padding: 50px 0 40px 0;
}
.banner-bottom p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.Urban-heat-area-div{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Urban-heat-area-div p {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 25px;
}
.Urban-heat-area{
  font-size: 30px;
  font-weight: bolder;
  color: #19446e;
  text-align: center;
  margin-top: 50px;
}
.Urban-heat-area-img{
  height: 500px;
  width: 900px;
  margin-left: 30px ;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
}
.air-video{
  margin-left: 50px;
  border-radius: 20px;
}
.air-pollution {
  display: flex;
  padding-bottom: 40px;
}
.air-pollution p {
  margin: 30px;
  font-size: 20px;
  margin-top: 100px;
}
.water-pollution{
  border-top: 2px solid black;
}
.water-pollution img {
  margin: 50px 150px 00px 150px;
}
.water-pollution .first {
  margin: 20px 90px 00px 100px;
  font-weight: bold;
}
.water-quality {
  display: flex;
}
.water-quality p {
  font-size: 40px;
  margin-top: 100px;
  font-weight: bolder;
}
.water-quality-one{
  height: 500px;
  width: 1000px;
}
.water-quality-one p {
  margin: 40px ;
}
.section-2 {
  width: 100%;
  background: url(../images/section-2-bg.png) no-repeat center top;
  background-size: cover;
}
.tour-area {
  width: 1177px;
  margin: 0 auto;
  padding: 0 0 130px 0;
}
.tour-area h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 34px;
  font-size: 50px;
  margin: 0px 0 0 0;
  padding: 100px 0 0 0;
  color: #606060;
}
.tour-area p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #606060;
  line-height: 25px;
  margin: 25px 0 0 0;
  padding: 0;
}
.tour-type {
  width: 1152px;
  list-style: none;
  overflow: hidden;
  margin: 60px 0 0 0;
  padding: 0;
}
.tour-type li {
  float: left;
  padding: 0 12px 0 12px;
  margin: 0;
  position: relative;
  z-index: 0;
}
.tour-type li:first-child {
  padding-left: 0;
}
.tour-type li a {
  margin: 0;
  text-decoration: none;
}

.tour-type li a img {
  position: relative;
  margin: 0;
  padding: 0;
  width: 267px;
}
.tour-type li a span {
  position: absolute;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 110px;
  z-index: 1;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 33px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section-3 {
  width: 100%;
  background: url(../images/section-3-bg.png) no-repeat center top;
  background-size: cover;
}
.deal-area {
  width: 1177px;
  margin: 0 auto;
  padding: 0 0 60px 0;
}
.deal-area h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  font-size: 50px;
  line-height: 34px;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 110px 0 0 0;
  text-align: center;
}
.deal-type {
  width: 1177px;
  margin: 70px 0 0 0;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.deal-type li {
  float: left;
  position: relative;
  margin: 0 11px 0 11px;
  background: #ffffff;
  height: 540px;
}
.deal-type li:first-child {
  margin-left: 0;
}
.deal-type li img {
  display: block;
}
.deal-type li span {
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  text-align: center;
  background: #47a0ff;
  width: 170px;
  margin: 0 auto;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.deal-type li span em {
  font-size: 25px;
  text-decoration: line-through;
  padding: 0 10px 0 0;
  font-style: normal;
}
.deal-type li span i {
  font-size: 30px;
  font-style: normal;
}
.deal-type li h4 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 34px;
  margin: 30px 0 0 0;
  text-align: center;
  padding: 0;
  color: #606060;
}
.deal-type li p {
  margin: 10px 0 30px 40px;
  padding: 0 0 0 0;
  font-weight: 400px;
  font-size: 15px;
  line-height: 18px;
  color: #606060;
}
.deal-type li .btn-book-now {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #006fe6;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  width: 200px;
  padding: 0px 0;
  font-size: 16px;
  line-height: 50px;
}
.deal-type li .btn-book-now:hover {
  background-color: #939;
}
.section-4 {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ebebeb;
}
.section-4 h3 {
  margin: 0;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  padding: 20px 0 0 0;
  color: #606060;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.trip-gallary {
  width: 100%;
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
  align-items: stretch;
  grid-gap: 20px;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.gggg {
  height: 500px;
  display: flex;
}
.gggg img {
  height: 400px;
  width: 700px;
  margin-left: 50px;
}
.map-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.map-img {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.audd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-tag {
  text-align: center;
  margin-top: 20px;
}
.images-map {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.button-gt {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.button {
  text-align: center;
}
.grp {
  width: 100%;
  margin: 100px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
  align-items: stretch;
  grid-gap: 20px;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.ban {
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
  align-items: stretch;
}
.trip-gallary li {
  width: 80%;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  padding: 20px;
}
.trip-gallary li img {
  display: block;
  width: 100%;
}

.trip-gallary li div {
  padding-top: 10px;
}
.trip-gallary li div h4 {
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 22px;
}

.trip-gallary li div span {
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
}
.btn-know-more {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background: #006fe6;
  width: 149px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 30px;
}
.btn-know-more:hover {
  background-color: #c36;
}
.section-5 {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ebebeb;
}
.news-panel {
 
  margin: 0 auto;
  padding: 20px 0 0 0;
}
.section-5 h3 {
  margin: 0;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 35px;

  color: #353535;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-5 p {
  text-align: center;
  font-weight: 400px;
  color: #353535;
  font-size: 17px;
  margin: 25px 0 0 0;
  padding: 0;
}
.travel-lifestyle {
  width: 1177px;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  padding: 0 0 110px 0;
  margin-top: 60px;
}
.travel-lifestyle li {
  float: left;
  width: 373px;
  background: #ffffff;
  margin: 0 10px;
}
.travel-lifestyle li:first-child {
  margin-left: 0;
}

.travel-lifestyle li a img {
  margin: 0 auto;
  display: block;
  padding: 10px;
}
.travel-lifestyle li h4 {
  margin: 20px 0 0 0;
  padding: 0;
}
.travel-lifestyle li h4 a {
  font-weight: 700;
  color: #47a0ff;
  text-decoration: none;
  display: block;
  font-size: 18px;
  margin: 0 0 0 25px;
  padding: 0;
}
.travel-lifestyle li div {
  width: 320px;
  overflow: hidden;
  margin: 20px auto 0;
  padding: 0;
}
.travel-lifestyle li div .author {
  background: url(../images/author-bg.png) no-repeat left center;
  padding: 0px 60px 0 24px;
  text-decoration: none;
  font-size: 15px;
  color: #606060;
}
.travel-lifestyle li div .author:hover {
  text-decoration: underline;
}
.travel-lifestyle li div span {
  background: url(../images/date.png) no-repeat left center;
  padding: 0 0 0 26px;
  margin: 0;
  font-size: 15px;
  color: #606060;
}
.travel-lifestyle li p {
  font-size: 15px;
  margin: 20px 0 50px 24px;
  padding: 0;
  text-align: left;
  color: #606060;
}
.section-6 {
  width: 100%;
  position: relative;
}
.section-6 img {
  width: 100%;
}
.luxury-travel {
  position: absolute;
  width: 1174px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
  top: 25%;
  text-align: center;
}
.luxury-travel h2 {
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 145px;
  color: #ffffff;
  line-height: 105px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
.luxury-travel span {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 2px;
}
.luxury-travel .btn-find-tours {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  background: #47a0ff;
  color: #ffffff;
  width: 155px;
  text-align: center;
  margin: 0 auto;
  line-height: 155px;
  border-radius: 82px;
  font-family: 700;
  font-size: 15px;
}
.luxury-travel .btn-find-tours:hover {
  background: #c60;
}
.section-7 {
  width: 100%;
  background: #ffffff;
}
.solution-image{
  background: url(../images/Nasa.jpg) no-repeat 100% ;
  background-size: cover;
  padding-left: 30px;
  padding-bottom: 150px;
  padding-top: 100px;
}
.solution-image img {
  margin: 20px;
  height: 450px;
  width: 250px;
  border: 2px solid #83b5fa;
  border-radius: 10px;
}
.footer {
  width: 1177px;
  margin: 0 auto;
  padding: 80px 0 100px 0;
  overflow: hidden;
  margin-top: 80px;
}
.footer h4 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 27px;
  margin: 0;
  padding: 0;
  color: #606060;
  letter-spacing: 1px;
}
.footer-col-1 {
  float: left;
  width: 367px;
  margin: 0;
  padding: 0;
}
.footer-col-1 p {
  font-weight: 400;
  font-size: 15px;
  margin: 30px 0 0 0;
  color: #606060;
  line-height: 25px;
}
.footer-col-1 a {
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  color: #606060;
  line-height: 25px;
}
.footer-col-1 a:hover {
  text-decoration: underline;
}
.footer-col-2 {
  float: left;
  width: 234px;
  margin: 0;
  padding: 0;
}
.footer-col-2 ul {
  list-style: none;
  margin: 30px 0 0 5px;
  padding: 0;
}
.footer-col-2 ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  color: #606060;
  line-height: 25px;
}
.footer-col-3 {
  float: left;
  width: 293px;
  margin: 0px 0 0 0;
  padding: 0;
}
.footer-col-3 ul {
  overflow: hidden;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}
.footer-col-3 ul li {
  float: left;
  padding: 0 10px 0 0;
}
.footer-col-4 {
  float: left;
  width: 274px;
  margin: 0;
  padding: 0;
}
.footer-col-4 div {
  margin: 30px 0 0 0;
  overflow: hidden;
}
.style-9 {
  float: left;
  line-height: 50px;
  padding: 0 0 0 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  background: #f2f2f2;
  width: 172px;
  height: 54px;
  font-size: 15px;
  font-weight: 400;
  color: #606060;
}
.style-10 {
  float: left;
}
.section-8 {
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #d1d1d1;
}
.footer-bottom {
  width: 1177px;
  margin: 0 auto;
  overflow: hidden;
}
.footer-bottom p {
  float: left;
  font-size: 15px;
  font-weight: 400;
  margin: 15px 0 20px 0;
  padding: 0;
  color: #606060;
  width: 313px;
}
.design {
  width: 800px;
  text-align: right;
  margin: 15px 0 20px 0;
  padding: 0;
  float: left;
}
.design span {
  font-size: 15px;
  font-weight: 400;
  color: #606060;
}
.design a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #606060;
}
.design a:hover {
  text-decoration: underline;
}

/* ....... */
#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height: 40px;
  width: 40px;
  padding: 12px 18px;
  z-index: 2;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: gainsboro;
}
.play {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
}
.pause {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==) !important;
}
.g-tag{
  color: rgb(220, 220, 220);
}